<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo">
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
  <div class="container d-flex align-items-center justify-content-center mt-5">
    <div
      *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria"
      class="col-md-6"
    >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Você Perdeu!</h5>
          <p class="card-text derrota">Suas tentativas acabaram. Tente novamente!</p>
          <button class="btn btn-primary" (click)="reiniciarJogo()" >Reiniciar</button>
        </div>
      </div>
    </div>
    <ng-template #fimDeJogoVitoria>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Parabéns!</h5>
            <p class="card-text vitoria">Você venceu o jogo!</p>
            <button class="btn btn-primary" (click)="reiniciarJogo()" >Jogar Novamente</button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
